.page-wrapper {
  background: #f9fbfd;
  position: relative;
  transition: 0.2s ease-in;
  box-shadow: 0px 3px 9px 0px rgba(162, 176, 190, 0.15);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.page-wrapper > .container-fluid {
  padding: 35px;
  min-height: calc(100vh - 210px);
}

.page-breadcrumb {
  padding: 30px 35px 0;
}

.page-breadcrumb .breadcrumb {
  background: transparent;
  font-size: 0.875rem;
}

.page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #ced4da;
  font-size: 11px;
}

.page-breadcrumb .breadcrumb .breadcrumb-item a {
  color: #8392a5;
}

.active_user {
  cursor: pointer !important;
}

.active_user:hover {
  color: rgb(92, 92, 253) !important;
  transition: all 0.5s ease-in-out;
}

.chat-box {
  overflow: auto;
}

.chat-list .chat-item .chat-img {
  width: 45px;
  vertical-align: top;
}

.chat-list .chat-item .chat-content {
  width: calc(100% - 50px);
}
.chat-list .chat-item .chat-content .msg {
  background-color: #e4fbf8;
  font-size: 14px;
}

.chat-list .chat-item .chat-time {
  margin-left: 65px;
}

.chat-list .chat-item.odd .chat-content {
  width: calc(100% - 0px);
}
.chat-list .chat-item.odd .chat-content .msg {
  background-color: #eef5ff;
}

.chat-list .chat-item.odd .box {
  clear: both;
}

.chat-list .chat-item.odd + .odd {
  margin-top: 0px;
}

.chat-list .chat-item.reverse {
  text-align: right;
}
.chat-list .chat-item.reverse .chat-time {
  text-align: left;
}
.chat-list .chat-item.reverse .chat-content {
  padding-left: 0px;
  padding-right: 15px;
}
